@tailwind base;
@tailwind components;
@tailwind utilities;


  
html, body, main {
  @apply bg-base;
}



body {
  /* @apply border; */
  @apply border-teal-600;
  @apply bg-black;
  /* @apply bg-white; */
  @apply overflow-x-hidden;
  @apply min-h-screen;
}

html {
  @apply overflow-x-hidden;
}

main {
  /* @apply border; */
  @apply w-screen h-screen;
}



/* ---------------- */
.color-tryout {
  color: #c571a5;
  color: #8c86d6;
  color: #351430;
}